@model IEnumerable<ShopTARge22.Models.Realestates.RealestatesIndexViewModel>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="create" asp-controller="Realestates" type="submit" class="button special small">Create</a>
</div>

<div class="h1">
    Realestates
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Address</th>
                <th scope="col">SizeSqrM</th>
                <th scope="col">RoomCount</th>
                <th scope="col">Floor</th>
                <th scope="col">BuildingType</th>
                <th scope="col">BuiltInYear</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var realestates in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@realestates.Address</td>
                    <td>@realestates.SizeSqrM</td>
                    <td>@realestates.RoomCount</td>
                    <td>@realestates.Floor</td>
                    <td>@realestates.BuildingType</td>
                    <td>@realestates.BuiltInYear</td>

                    <td>
                        <a asp-action="details" asp-controller="realestates" asp-route-id="@realestates.Id" class="button small">Details</a>
                        <a asp-action="update" asp-controller="realestates" asp-route-id="@realestates.Id" class="button small">Update</a>
                        <a asp-action="delete" asp-controller="realestates" asp-route-id="@realestates.Id" class="button small">Delete</a>
                    </td>
                </tr>

                rowNumber += 1;
            }
        </tbody>
    </table>
</form>